body {
    background-color: white;
}

.painel {
    margin: auto;
    background-color: blueviolet;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

#cliqueAqui {
    position: absolute;
    height: 80px;
    width: 100px;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}